<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean id="user" class="com.vastika.spring_core_demo.User"> <property 
		name="userName" value="hari Om"> </property></bean> <alias name="user" alias="use" 
		/> -->

	<bean id="user" class="com.vastika.spring_core_demo.User" autowire="byName">
		<!-- <constructor-arg value="20" index="1"></constructor-arg> constructor's 
			index <constructor-arg value="hari Om" name="userName" /> passing values 
			as argument's name given to the method <constructor-arg value="99999" type="int" 
			index="2 "/> -->

		<property name="userName" value="Ram Sharma" />
		
	</bean>

	<bean id="officeAddress"
		class="com.vastika.spring_core_demo.Address">
		<property name="cityName" value="Pokhara"></property>
		<property name="countryName" value="Nepal"></property>
	</bean>

	<bean id="homeAddress"
		class="com.vastika.spring_core_demo.Address">
		<property name="cityName" value="New Delhi"></property>
		<property name="countryName" value="India"></property>
	</bean>


</beans> 
 